themes/siedlisko/template/src/components/footer/footer.pug
.footer
  .container
    .footer__flex
      .footer__copy.wow.fadeInLeft(data-wow-delay='0.6s') Copyright by Siedlisko Pod Dębami - 2016
      a.footer__link.wow.bounceInRight(href='http://collor.pl' target='_blank' data-wow-delay='1.2s') Realizacja: Collor.pl

themes/siedlisko/inc/footer.html
    {include: themes/".$settings.theme."/inc/question.html}

    <div class="footer">
        <div class="container">
            <div class="footer__flex">
                <div class="footer__copy wow fadeInLeft" data-wow-delay="0.6s">
                    Copyright by Siedlisko Pod Dębami - 2016
                </div>
                <a class="footer__link wow bounceInRight" href="http://collor.pl" target="_blank" data-wow-delay="1.2s">
                    Realizacja: Collor.pl
                </a>
            </div>
        </div>
    </div>
    <script src="{$bat.path}/themes/{$settings.theme}/dist/js/lib.js"></script>
    <script src="{$bat.path}/themes/{$settings.theme}/dist/js/prod.js"></script>

    {loop: $bat.footer}{$value}{/loop}
</body>

</html>
